.text {
  margin: auto;
  text-align: center;
  display: block;
  padding-top: 7%;
}

.champions {
  text-align: center;
}

.big-text {
  font-size: 2em;
  display: block;
}

.icons {
  height: 80px;
  width: 80px;
  opacity: 0.65;
}

.icons:hover {
  opacity: 1;
}

#champ-div {
  padding: 10px 0;
}
