/* Containers */
.head {
  width: 100%;
  display: block;
  padding-bottom: 10%;
  font-family: inherit;
  overflow: auto;
}

.left-side {
  float: left;
  position: relative;
  width: 30%;
}

.right-side {
  width: 70%;
  position: relative;
  float: right;
  overflow: auto;
}

/* Champion icon */
.icon {
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
  height: 50%;
  font-size: 1.3em;
  display: block;
  float: left;
}

#champ-icon {
  border: 1px solid #222;
}

/* Champion stats table */
#stats-table-div {
  width: 100%;
  padding-left: 5%;
  box-sizing: border-box;
}

#stats-table {
  text-align: left;
  border: 1px solid #222;
  color: white;
  border-collapse: collapse;
}

#stats-table th {
  border: 1px solid #222;
  padding: 5px;
  opacity: 0.9;
}

#stats-table td {
  color: white;
  opacity: 0.75;
}

/* Items */
.items-div {
  border-top: 2px solid #222;
  border-radius: 5px;
  padding-right: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  height: 33%;
  background-color: #000;
  width: 100%;
  box-sizing: border-box;
  z-index: 9;
}

.items-div:hover {
  /*-webkit-transition: height 0.5s;*/
  transition: height 0.5s;
  height: 58%;
}

/* Items filter */
.filter {
  float: left;
  display: inline-block;
  width: 40%;
  text-align: center;
  margin: 2% 3%;
  box-sizing: border-box;
}

.filter input {
  display: none;
  width: 100%;
  height: 2.3em;
}

.filter span {
  padding-top: 9px;
  display: inline-block;
  font-style: italic;
}

.filter.edit span {
  display: none;
}

.filter.edit input {
  box-sizing: border-box;
	background: inherit;
	color: inherit;
	display: initial;
  border: 1px solid #222;
  padding: 10px;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
}

.filter-buttons {
  float: left;
  width: 10%;
  display: inline-block;
  height: 100%;
  overflow: auto;
  text-align: center;
  box-sizing: border-box;
  overflow: visible;
}

.filter-button {
  cursor: pointer;
  font-size: 1em;
  padding: 8px;
  height: auto;
}

.filter-button:hover {
  text-decoration: underline;
}

/* Items icons */
.items-div img {
  border: 1px solid #222;
  opacity: 0.65;
  height: 60px;
  width: 60px;
}

.items-div img:hover {
  opacity: 1;
}

.item-icons {
  width: 45%;
  height: 100%;
  float: left;
  text-align: center;
  box-sizing: border-box;
  margin: 0 10px;
}

.item-icon {
  padding: 5px;
  height: 80px;
  width: 60px;
  float: left;
}

.item-icon span {
  font-style: italic;
  color: #FFFF00;
  opacity: 0.65;
}

/* Item information */
.item-info {
  text-align: center;
  display: inline-block;
  float: right;
  /*padding: 0% 1% 2% 0%;*/
  margin: 10px;
  box-sizing: border-box;
  width: 40%;
  /*height: 30%;*/
}

.item-info-left {
  margin: 0;
  float: left;
  display: inline-block;
}

.item-info-right {
  margin: 0;
  float: right;
  display: inline-block;
  opacity: 0.65;
}

#item-info-icon {
  width: 100%;
}

#item-info-icon img {
  opacity: 1;
}

#item-info-icon div {
  display: block;
  width: 100%;
  float: none;
  text-align: center;
  height: auto;
}

#item-info-icon div span {
  display: block;
}

#item-info-description {
  font-style: italic;
  font-size: 0.8em;
}

/* Item builds */
.item-builds {
  box-sizing: border-box;
  /*display: inline-block;*/
  float: right;
  width: 40%;
  margin: 10px;
  text-align: center;
}

/* Buttons */
.buttons-container {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.buttons {
  padding: 0px 16px;
  text-align: center;
  font-weight: bold;
  border: none;
  background-color: #222;
  color: #757575;
  margin: 0px 2px 7px 2px;
  height: 36px;
  cursor: pointer;
}

.buttons:hover {
  background-color: #444;
  color: white;
}

/* Item set name */
#item-set-name {
  width: 100%;
  padding: 10px 10px;
  display: block;
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 1em;
  font-family: inherit;
  margin: 20px 0;
  text-align: center;
  box-sizing: border-box;
}

/* Block tables */
#block {
  /*overflow: scroll;*/
}

.blocks-table {
  width: 100%;
  /*overflow: hidden;*/
}

.blocks-table tr {
  height: 60px;
}

.blocks-table td {
  float: left;
  font-size: 1.5em;
}

.blocks-table img {
  border: 1px solid #222;
  margin: 1px;
  padding: 1px;
  opacity: 0.75;
}

.blocks-table img:hover {
  opacity: 1;
}

.recmath-text {
  display: inline-block;
}

.gold-cost {
  margin: 0 5% 0 0;
  float: right;
  display: inline-block;
  color: #FFFF00;
  opacity: 0.65;
}

.gold-cost-shrink {
  text-align: right;
  float: right;
}

/* Block name edit */
caption input {
  display: none;
  width: 100%;
}

caption.edit span {
  display: none;
}

caption.edit input {
  box-sizing: border-box;
	background: inherit;
	color: inherit;
	display: initial;
  border: none;
  padding: 5px;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
}

/* Hide table buttons */
.hide-buttons {
  font-size: 0.8em;
  text-align: center;
  border: none;
  background-color: #222;
  color: #757575;
  padding: 2px 7px;
  cursor: pointer;
}

.hide-buttons:hover {
  background-color: #444;
  color: white;
}

.toggle-items {
  position: fixed;
  bottom: 33%;
  right: 20px;
}

.toggle-items-hidden {
  right: 20px;
  position: fixed;
  bottom: 2px;
}

#items-button {
  padding: 3px 15px;
  font-weight: bold;
}

.shrink {
  float: left;
  display: inline-block;
  width: 20%;
  text-align: left;
  margin-left: 10px;
}

.hide-buttons-shrink {
  float: left;
}
