.head {
  width: 100%;
  display: block;
  padding-bottom: 10%;
  font-family: inherit;
  overflow: auto;
}

.left-side {
  float: left;
  position: relative;
  width: 30%;
}

.right-side {
  width: 70%;
  position: relative;
  float: right;
  overflow: auto;
}

.icon {
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
  height: 50%;
  font-size: 1.3em;
  display: block;
  float: left;
}

#champ-icon {
  border: 1px solid #222;
}

#stats-table-div {
  width: 100%;
}

#stats-table {
  text-align: left;
  border: 1px solid #222;
  color: white;
  border-collapse: collapse;
}

#stats-table th {
  border: 1px solid #222;
  padding: 5px;
  opacity: 0.9;
}

#stats-table td {
  color: white;
  opacity: 0.75;
}

.items-div {
  border-top: 2px solid #222;
  border-radius: 5px;
  /*text-align: center;*/
  padding-top: 1%;
  padding-right: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  height: 33%;
  background-color: #000;
  width: 100%;
  box-sizing: border-box;
  z-index: 9;
}

.filter {
  margin: 10px 10px 20px 10px;
  width: 50%;
  height: auto;
  text-align: center;
}

.filter input {
  width: 90%;
}

.items-div img {
  border: 1px solid #222;
  opacity: 0.65;
  height: 60px;
  width: 60px;
}

.items-div img:hover {
  opacity: 1;
}

.item-icons {
  width: 50%;
  float: left;
  text-align: center;
}

.item-icon {
  padding: 5px;
  /*display: inline-block;*/
  height: 80px;
  width: 60px;
  float: left;
}

.item-icon span {
  font-style: italic;
}

.buttons-container {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.buttons {
  padding: 0px 16px;
  text-align: center;
  font-weight: bold;
  border: none;
  background-color: #222;
  color: #757575;
  margin: 0px 2px 7px 2px;
  height: 36px;
}

.buttons:hover {
  background-color: #444;
  color: white;
}

#item-set-name {
  width: 100%;
  padding: 10px 10px;
  display: block;
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 1em;
  font-family: inherit;
  margin: 20px 0;
  text-align: center;
  box-sizing: border-box;
}

.recmath-text {
  display: inline-block;
}

#block {
  overflow: scroll;
}

.blocks-table {
  width: 100%;
  overflow: hidden;
}

.blocks-table tr {
  height: 60px;
}

.blocks-table td {
  float: left;
  font-size: 1.5em;
}

.blocks-table img {
  border: 1px solid #222;
  margin: 1px;
  padding: 1px;
  opacity: 0.75;
}

.blocks-table img:hover {
  opacity: 1;
}

caption input {
  display: none;
  width: 100%;
}

caption.edit span {
  display: none;
}

caption.edit input {
  box-sizing: border-box;
	background: inherit;
	color: inherit;
	display: initial;
  border: none;
  padding: 5px;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
}

.shrink {
  display: inline-block;
  width: 20%;
  text-align: left;
  margin-left: 10px;
}

.hide-buttons {
  font-size: 0.8em;
  text-align: center;
  border: none;
  background-color: #222;
  color: #757575;
  padding: 2px 7px;
}

.hide-buttons:hover {
  background-color: #444;
  color: white;
}

.toggle-items {
  position: fixed;
  bottom: 33%;
  right: 20px;
}

.toggle-items-hidden {
  right: 20px;
  position: fixed;
  bottom: 2px;
}

#items-button {
  padding: 3px 15px;
  font-weight: bold;
}
