/* color palette
#394264; background (dark purple)
#394264; section background (medium purple)
#50597b; selection color (lighter purple)
#11a8ab; detail color (light blue)
#e64c65; possible notification number (light red)
#11A8AB; possible hint of blue  (another blue)
*/

body {
  font-family: Merriweather, arial, sans-serif;
  background-color: #000;
  color: white;
  /*background: linear-gradient(120deg, #222, 1%, #000 );*/
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.footer {
  width: 80%;
  opacity: 0.15;
  text-align: center;
  margin: auto;
}

.hide {
  display: none;
}
