
/* color palette
#394264; background (dark purple)
#394264; section background (medium purple)
#50597b; selection color (lighter purple)
#11a8ab; detail color (light blue)
#e64c65; possible notification number (light red)
#11A8AB; possible hint of blue  (another blue)
*/

body {
	background-color: #222222; /* BGcolor */
	color: white; /* text color */
}

.center {
	margin: auto;
	width: 30%;
	padding: 10px;
}

caption input {
	display: none;
}

caption.edit span {
	display: none;
}

caption.edit input {
	background: inherit;
	color: inherit;
	display: initial;
}

#wrapper {
	width: 100%;
	overflow: hidden;
}

#champ {
	width: 27%;
	float: left;
}

#blocks {
	width: 73%;
	float: left;
}

.blocks-table {
	width: 100%;
	border: 1px solid beige;
}

#none_text {
	color: white;
	font-size: 50px;
}

#stats-table {
	border: solid beige;
	border-collapse: collapse;
	width: 100%;
}

.stats-header {
	color: red;
	border: 1px solid beige;
	text-align: left;
	padding: 5px;
}

.stats-cell {
	color: white;
	text-align: center;
}

.button {
	width: 75%;
	padding: 50px;
}

.buttons {
	width: 100%;
	text-align: center;
}

@font-face {
	font-family: 'Merriweather', serif;
	color: #fff;
}

table.page-divider {
	margin: auto;
	width: 80%;
}

.top-column {
	vertical-align: top;
	padding-bottom: 1%;
	width: 100%;
}

.bottom-column {
	vertical-align: bottom;
	padding: 1%;
	width: 100%;
}

.center-column {
	vertical-align: top;
	padding: 1%;
	width: 75%;
}

.right-column {
	vertical-align: top;
	padding: 1%;
	width: 23%;
}
