<html>
<head>
{% load staticfiles %}
<meta charset="utf-8" />
<!-- ensures proper scaling on mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
<title>League of Item Sets</title>
</head>
<body>
  <div class="center">
  <h1 class="center-text"> Welcome to League of Item Sets!</h1>
  <p class="center-text"> Here you can make your own item sets, download them and use them in-game!
  </p>
  <h2 class="center-text"> To begin choose one of the champions or all.</h2>
  <a href="{% url 'lois:items' "All" %}" id="none_text"><p class="center-text">All</p></a>
</div>
  <br />
    <div id="champion-select">
        <section>
        {% if champ_list %}
          {% for champion in champ_list %}
                <a href="{% url 'lois:items' champion.Name %}" >
                  <img src="{% static champion.Icon %}" alt="{{champion.Name}}" height="80" />
                </a>
          {% endfor %}
        {% else %}
          <p> Could not display champions!</p>
        {% endif %}
      </section>
    </div>
</body>
</html>
