<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/> <!-- ensures proper scaling on mobile devices -->
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>
<!-- import below is for the awesome font -->
<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
<title>League of Item Sets</title>
</head>

<body>
<h1> Welcome to the League of Item Sets!</h1>
<p> To get started click <a href="{% url 'lois:champion' %}">here</a>.</p>
</body>
</html>
