<html>
<head>
{% load staticfiles %}
<meta charset="UTF-8" />
<!-- ensures proper scaling on mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/index_style.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
<script src="{% static 'javascript/common_script.js' %}" defer></script>
<script src="{% static 'javascript/index_script.js' %}" defer></script>
<title>League of Item Sets</title>
</head>
<body>
  <div class="text">
    <h1> Welcome to League of Item Sets!</h1>
    <p> Here you can make your own item sets, download them and use them in-game!</p>
    <p> To begin choose one of the champions or click all.</p>
  </div>
  <br />
  <div class="champions">
    <span class="big-text" id="all-text"><a href="{% url 'lois:items' "All" %}">All</a></span>
    <div class="filter" id="filter-div">
      <span>Filter by name or tag</span>
      <input type="text" id="filter-champs" title="Filter champions"/>
    </div>
    <div id="champ-div">
      {% if champ_list %}
        {% for champion in champ_list %}
          <a href="{% url 'lois:items' champion.Key %}" ><img src="{% static champion.Icon %}"
                title="{{champion.Name}}" alt="{{champion.Name}}" data-tags="{{champion.Tags}}" class="icons" /></a>
        {% endfor %}
      {% else %}
        <p class="big-text"> Could not display champions!</p>
      {% endif %}
    </div>
  </div>
  <div class="footer">
    <p>League of Item Sets isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of
      Riot Games or anyone officially involved in producing or managing League of Legends.
      League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc.
      League of Legends © Riot Games, Inc.</p>
  </div>
</body>
</html>
