<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/> <!-- ensures proper scaling on mobile devices -->
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'scripts.js' %}" defer></script>
<!-- import below is for the awesome font -->
<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
<title>League of Item Sets</title>
</head>
<body>
<div id="wrapper">
  <div id="champ">
    <p> Champion: {{champ.Name}} </p>
      <img src="{% static champ.Icon %}" alt="{{champ.Name}}" height="80" />
    <br/>
    <p id="stat_table"></p>
  </div>
  <button type="button" onclick="new_block()">Create new block</button>
  <button type="button" onclick="remove_block()">Remove block</button>
  <div id="blocks">
    <table id="blocks_table-0">
      <tr></tr>
    </table>
  </div>
  <div id="next">
    <button type="button" onclick="build_item_set()">Done</button>
</div>
</div>
<div id="items">
    <br  />
    {% if items %}
      {% for item in items %}
        {% if item.Purchasable == True %}
          <img src="{% static item.Icon %}" alt="{{item.Name}}" height="60"
              id="{{ item.ItemID }}" onclick="add_item('{% static item.Icon %}','{{item.ItemID}}')"/>
        {% endif %}
      {% endfor %}
    {% else %}
      <p> Could not display items! </p>
    {% endif %}
</div>
</body>
</html>
