<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/> <!-- ensures proper scaling on mobile devices -->
<link href="res/style.css" rel="stylesheet" />
<!-- import below is for the awesome font -->
<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
<title>LeagueofItemSets</title>
</head>

<body>
<nav>
	<ul class="horizontal-list">
		<li><a class="header-menu-tab" href="index.html">a point</a></li>
		<li><a class="header-menu-tab" href="index2.html">yet another point</a></li>
	</ul>
</nav>
<br><br><br><br>


<table class="page-divider">
	<td class="center-column">
		<!-- content placed here will live in the center column -->
		<section>
			placeholder content
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			placeholder content
		</section>
	</td>
	<td class="right-column">
		<!-- content placed here will live in the rightmost column -->
		<section>
			placeholder content
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			placeholder content
		</section>
	</td>
</table>



</body>
</html>
