<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<meta charset="UTF-8" />
<!-- ensures proper scaling on mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/items_style.css' %}" />
<script src="{% static 'javascript/common_script.js' %}" defer></script>
<script src="{% static 'javascript/item_script.js' %}" defer></script>
<!-- import below is for the awesome font -->
<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
<title>League of Item Sets</title>
</head>
<body>
<div class="head">
  <section class="left-side">
    <div class="icon">
      <p> {{champ.Name}} </p>
      <img id="champ-icon" src="{% static champ.Icon %}" alt="{{champ.Name}}" height="80" title="{{champ.Name}}" />
    </div>
    <div id="stats-table-div" data-stats="{{champ_stats}}"></div>
  </section>
  <section class="right-side">
    <div class="buttons-container">
      <button type="button" id="build" data-url="{% url 'lois:itemset' %}" class="buttons"
              title="If you want you can download the item set as a JSON file">Done</button>
      <button type="button" id="add" class="buttons"
              title="Add a new block, which is a section of items in-game">Create new block</button>
      <button type="button" id="remove" class="buttons"
              title="Remove the selected block">Remove block</button>
      <select class="buttons" id="map-selector" title="Choose which maps you want the item set to appear on">
        <option value="any">Any map</option>
        <option value="SR">Summoner's Rift</option>
        <option value="HA">Howling Abyss</option>
        <option value="TT">Twisted Treeline</option>
        <option value="CS">Crystal Scar</option>
      </select>
      <select class="buttons" id="block-selector"
            title="Choose which block you want to add items to"></select>
    </div>
    <input type="text" id="item-set-name" value="Item set name"
            title="Edit this to set your item set name as it appears in-game" />
  <div id="blocks"></div>
</div>
<div class="toggle-items">
  <button type="button" id="items-button" class="hide-buttons" title="Toggle items">V</button>
</div>
<div class="items-div" id="items-div">
    <div class="filter-buttons">
      <p class="filter-button" id="filter-all">All</p>
      <p class="filter-button" id="filter-attack">Attack Damage</p>
      <p class="filter-button" id="filter-armor">Armor</p>
      <p class="filter-button" id="filter-boots">Boots</p>
      <p class="filter-button" id="filter-nonboots">Nonboots Movement</p>
    </div>
  <div class="filter" id="filter-div">
    <span>Filter items</span>
    <input type="text" id="filter-items" title="Filter items"></input>
  </div>
  <div class="item-info">
    <span>Item Info</span>
    <p id="item-info-name"></p>
    <p id="item-info-description"></p>
    <p>Stats</p>
    <p id="item-info-stats"></p>
  </div>
  <div class="item-icons">
    {% if item_list %}
      {% for item, stats in item_list %}
        {% if item.Purchasable == True %}
          <div class="item-icon" id="item-icon">
            <img src="{% static item.Icon %}" alt="{{item.Name}}" title="{{item.Name}}"
                data-icon="{% static item.Icon %}" id="{{ item.ItemID }}" data-tags="{{item.Tags}}"
                data-stats="{{stats}}" data-into="{{item.Into}}" data-description="{{item.Description}}" />
            <span>{{item.GoldBase}}</span>
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <p> Could not display items! </p>
    {% endif %}
  </div>
  <div class="item-builds">
    <span>Builds into</span>
    <p id="item-builds-field"></p>
  </div>
</div>
<div class="footer">
  <p>League of Item Sets isn’t endorsed by Riot Games and doesn’t reflect the views
     or opinions of Riot Games or anyone officially involved in producing or managing
     League of Legends. League of Legends and Riot Games are trademarks or registered
     trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
</div>
</body>
</html>
