<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<!-- ensures proper scaling on mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link href="res/style.css" rel="stylesheet" />
<!-- import below is for the awesome font -->
<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
<title>LeagueofItemSets</title>
</head>

<body>
<nav>
<table class="page-divider">
	<td class="center-column">
		<!-- content placed here will live in the center column -->
		<section>
      {% if item_list %}
				<ul>
					{% for item in item_list %}
						{{ item.Name }}
					{% endfor %}
				</ul>
			{% else %}
				<p> No items available. </p>
			{% endif %}
		</section>
	</td>
	<td class="right-column">
		<!-- content placed here will live in the rightmost column -->
		<section>
      Rightmost <br> column
		</section>
	</td>
</table>



</body>
</html>
