<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- ensures proper scaling on mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/json_style.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'javascript/json_script.js' %}" defer></script>
<!-- import below is for the awesome font -->
<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
<title>LeagueofItemSets</title>
</head>
<body>
<div class="json">
  <p id="beautiful-json" data-json="{{json}}">Hello</p>
</div>
</body>
</html>
